* {
  box-sizing: border-box;
  font-family:'Roboto', sans-serif; 
}

body {
  font-family:'Roboto', sans-serif;
}

.container {
  max-width:600px;
  margin: 0 auto;
}

.form-container{
  width:100%;
}
.bookmark-list-controls {
  display: inline-block;
}

.bookmark-list {
  width: 600px;
  padding: 0px;
  list-style: none;
}

.bookmark-list > li {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 20px;
}

.bookmark-list > li > p {
  margin-left: 5px;
  margin-right: 5px;
}

.bookmark-list > li> h4 {
  margin-top: 5px;
  width: 300px;
  padding-left: 5px;
  margin-right: 0px;
}

.bookmark-list > li > .bookmark-item-controls {
  padding: 5px;
}
.form-container {
  border: 1px solid gray;
  border-radius: 4px;
}


.adding-bookmark-form > .input-field {
  width:75%;
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right:10px;
}

.adding-bookmark-form > label { 
  margin: 5px;
  font-size:18px;
  font-weight: 600; 
}


.adding-bookmark-form > .inputfield > button, .submit-button { 
  margin:10px;
  margin-left:10px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: lightgray;
}

.adding-bookmark-form > .inputfield > input, .bookmark-list-entry-url { 
  width: 202px;
  margin-bottom:10px;
  margin-top:10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.adding-bookmark-form > .inputfield > input, .bookmark-list-entry-title { 
  width: 199px;
  margin-bottom:10px;
  margin-top:10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.adding-bookmark-form > .inputfield > textarea, .bookmark-list-entry-description { 
  width: 405px;
  border-radius: 4px;
  border: 1px solid gray;
}

.adding-bookmark-form >.rating-selection {
  width: 25%;
  height: 161px;
  display: inline-block;
}

.adding-bookmark-form >.rating-selection > div {
  margin:7.5px;
}

.adding-bookmark-form >.rating-selection > legend {
  margin-bottom:15px;
  margin-top:10px;
  margin-left:15px;
}