* {
  box-sizing: border-box;
}

.container {
  max-width:600px;
  margin: 0 auto;
}

.bookmark-list-controls {
  display: inline-block;
}

.bookmark-list {
  width: 600px;
  padding: 0px;
  list-style: none;
}

.bookmark-list > li {
  border: 1px solid black;
  margin-bottom: 20px;
}

.bookmark-list > li > p {
  margin-left: 5px;
  margin-right: 5px;
}

.bookmark-list > li> h4 {
  margin-top: 5px;
  width: 300px;
  padding-left: 5px;
  margin-right: 0px;
}

.bookmark-list > li > .bookmark-item-controls {
  padding: 5px;
}
.form-container {
  margin-bottom:50px;
  height: 260px;
}

.adding-bookmark-form > label {
  position: relative;
  top: 45px;
  font-size: 25px;
}
.adding-bookmark-form > .inputfield {
  width:475px;
  display: inline-block;
}

.adding-bookmark-form > .inputfield > input { 
  margin: 5px;
  margin-left: 0px;
}

.adding-bookmark-form > .inputfield > .bookmark-list-entry-url { 
  width: 261px;
}

.adding-bookmark-form > .inputfield > .bookmark-list-entry-description{
  height: 150px;
  width: 470px;
}
.adding-bookmark-form >.rating-selection {
  position: relative;
  top: 47px;
  left:20px;
  width: 100px;
  height: 192px;
  display: inline-block;
}

.adding-bookmark-form >.rating-selection > div {
  padding-bottom: 15px;
}
